body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

*, *::after, *::before {
    box-sizing: inherit;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #eaeaea;
}

.header {
    display: flex;
    justify-content: space-around;
    color: #0f0f0f;
    background-color: #caf8eab9;
}

.cv-photo img {
    margin: 80px 0;
}

.cv-info {
    margin: 50px 30px 50px;
}

.header {
    display: flex;
    justify-content: space-around;
    color: #ababab;
    background-color: #313131;
}

.cv-photo img {
    margin: 80px 0;
}

.cv-info {
    margin: 50px 30px 50px;
}

.heading {
    margin: 0;
    padding-bottom: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.hl {
    font-size: 16px;
    color: #fff;
    
}

.cv-text {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.5px;
}
.contacts-heading {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}